
    	body{
    		margin:0;
    		padding:0;
    		width:100%;
            height:100%;
    	}
        a{
            text-decoration: none;
            color:gray;
        }
         label{
            padding-right:5%;
            letter-spacing: 200px
            word-spacing: 0;
        }
        
       
        hr{
            background-color:rgb(223,223,223);
            border:1px solid rgb(223,223,223); 
            margin-top:20px;
        }
       
        .locate{
            color:rgb(117,211,178);
        }
        
        .margin10_0_0_0{
            margin:10px 0 0 0 ;
        }
    	.mainH{
    		width:100%;
    		background:rgb(32,38,54);
    	}
        
    	.head,.content,.footer{
    		margin:0 25px;
    	}
    	.Hhead{
    		text-align:center;
            margin-bottom: 30px;
    	}
        .Hcontent{
            margin:10px 0 0 0 ;
        }

    	
    	
    	.step{
    		width:100%;
    		/*height:60px;*/
    	}

        .margin20_0_10_0{
            margin:20px 0 10px 0;
        }
    	.IDcard{
    		margin:10px 0 0 0 ;
    		padding:0 10px;
    		border-left: solid 3px rgb(19,202,142);
    	}
        .word{
            width:50%;
        }
    	.pic{
    		width:41%;
    	}
        .equipMessage{
            border:1px solid rgb(201,201,201);
            border-radius: 5px;
        }
        .privateProtect{
            color:rgb(44,149,213);
        }
        .paymengBook{
            color:rgb(93,102,122);
        }
    	
    	
      
        .picandword,.price{
            margin:10px;
        }
        
        .borderBOTTOM{
            padding-bottom:10px;
            border-bottom:1px solid rgb(239,239,239);

        }
        .borderBOTTOM225{
            padding-bottom:10px;
            border-bottom:1px solid rgb(225,225,225);

        }
        .col-2-sm{
            width:20%;

        }
        .col-2-lg{
            width:70%;
            /*padding-left:10px;*/
        }

        .submit{

            /*bottom:0px;
            position: absolute; 
            clear:both; */
            /*margin-top:30px;*/
            /*padding-bottom: 10px;*/
            height:100%;

        }
        .marginLR10{
            margin:0 10px;
        }
        
        .footer{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 20px;
            
            
        }
        .checkbox{
            margin-top:10px;
            width:30px;
            height:30px;
        }
        .checkprotocol{
            width:90%;
        }
        
        
        
    

