
    	
    	body{
    		margin:0;
    		padding:0;
    		width:100%;
            height:100%;
    	}
       
       
        .background-white{
            background-color: rgb(255,255,255);
        }
       
        .marginLR20{
            margin:30px 20px 0 20px;
        }
    	

        .mainH{
            width:100%;
            padding-bottom:15px;
           
        }
    	
        
    	
    	.pic{
    		
    		
    		
    	}
    	.img{
    		
    		width:30%;
    		
    	}
        
        
        .background247{
            background-color: rgb(247,247,247);
        }

        
        
        .submit{
            margin-top:30px;
        }
        .open {
        	
        	margin-top:30px;
        }
        
    

