		.text-center{
            text-align:center;
        }
        .text-white{
            color:white;
        }
        .text-gray{
            color:gray;
        }
        .text-black{
            color:black;
        }
        .text-blue{
            color:rgb(81,110,152);
        }
        .left{
    		float:left;
    		display:inline ;

    	}

    	.right{
    		float:right;
    	}
    	.clear{
    		clear:both;
    	}
    	
    	
        .text-red{
            color:rgb(242,69,74);
        }
        .text-blue{
            color:rgb(57,144,204);
        }
        .text-green{
            color:rgb(9,201,143);
        }